
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: #f1f1f1;
}

h1 {
  font-size: 80px;
}

h3 {
  font-size: 30px;
}

.box {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #fff;
}

.skyblue {
  background: deepskyblue;
}

.purple {
  background: rebeccapurple;
}

.red {
  background: indianred;
}

/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
  padding: 60px;
  margin: 0;
  color: #000;
  text-align: center;
}

/* Giving the .post element margin on 3 sides */
.post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

.summary-section img {
  width: 75%;
  margin: auto;
  display: block;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#nav-select {
  visibility: hidden;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }

  .post {
    margin-right: 30px;
    margin-left: 30px;
  }

  .navbar ul {
    visibility: hidden;
  }

  #nav-select {
    visibility: visible;
  }
}
